nav{
    background: rgba(0,0,0,0.8);
}
#nav{
    width: 70%;
    background: #222;
}
#nav > li{
    line-height: 40px;
    border-bottom: 1px solid #444;
}
#nav > li > a{
    display: block;
    text-indent: 20px;
    color: white;
    background-image: url(../images/mob_gnb_arrow_down_w.png);
    background-repeat:no-repeat ;
    background-position:95% center;
}
#nav > .active > a{
    background-image: url(../images/mob_gnb_arrow_up_w.png);
}
.sub{
    background: #333;
    display: none;
}
.sub > li > a{
    display: block;
    color: #ddd;
    text-indent: 30px;
    border-bottom: 1px solid #555;
}